*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

.search-form {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content__list {
  padding-top: 26px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 298px;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 534px;
  width: 399px;
  padding-top: 26px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.content__video-card-thumbnail {
  width: 197px;
  height: 107px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex: 1;
}

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  padding-bottom: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  padding-top: 5px;
}

.content__video-card-description {
  padding-top: 6px;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 19px;
  height: 19px;
  background: transparent;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.button {
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  width: 194px;
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.more-button {
  width: 399px;
  height: 34px;
}

.button:focus-visible {
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.button:active {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.search-form__textfield {
  background: transparent;
  color: rgba(255, 255, 255, 1);
  width: 225px;
  height: 27px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

:focus {
  outline-color: transparent;
}

.search-form__textfield:focus-visible {
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.search-form__textfield:active {
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.search-form__label:has(:focus-visible) {
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 1);
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline-color: transparent;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}
